<body>
  <div class='proyecto'>
    <img alt='Proyecto' class='proyecto-imagen' src='./assets/img/Penguins.jpg' title='Proyecto'>
    <div class='proyecto-texto'>
      <p>{{lorem}}</p>
    </div>
  </div>
  <div class='proyecto'>
    <img alt='Proyecto' class='proyecto-imagen' [src]="fotopinguino" title='Proyecto'>
    <div class='proyecto-texto'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>
  <div class='proyecto'>
    <img alt='Proyecto' class='proyecto-imagen' [src]="fotopinguino" title='Proyecto'>
    <div class='proyecto-texto'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>
</body>
